
.icon-genderunicorns-male:before { content: '\e800'; } /* '' */
.icon-genderunicorns-neutrois:before { content: '\e801'; } /* '' */
.icon-genderunicorns-pangender:before { content: '\e802'; } /* '' */
.icon-genderunicorns-rainbow:before { content: '\e803'; } /* '' */
.icon-genderunicorns-third-gender:before { content: '\e804'; } /* '' */
.icon-genderunicorns-transgender:before { content: '\e805'; } /* '' */
.icon-genderunicorns-two-spirit:before { content: '\e806'; } /* '' */
.icon-genderunicorns-agender:before { content: '\e807'; } /* '' */
.icon-genderunicorns-aliagender:before { content: '\e808'; } /* '' */
.icon-genderunicorns-androgyne:before { content: '\e809'; } /* '' */
.icon-genderunicorns-bigender:before { content: '\e80a'; } /* '' */
.icon-genderunicorns-butch:before { content: '\e80b'; } /* '' */
.icon-genderunicorns-demiboy:before { content: '\e80c'; } /* '' */
.icon-genderunicorns-demigirl:before { content: '\e80d'; } /* '' */
.icon-genderunicorns-epicene:before { content: '\e80e'; } /* '' */
.icon-genderunicorns-female:before { content: '\e80f'; } /* '' */
.icon-genderunicorns-femme:before { content: '\e810'; } /* '' */
.icon-genderunicorns-genderfluid:before { content: '\e811'; } /* '' */
.icon-genderunicorns-genderqueer:before { content: '\e812'; } /* '' */
.icon-genderunicorns-intergender:before { content: '\e813'; } /* '' */
